ipython~=8.27.0
google-generativeai~=0.8.1
streamlit~=1.38.0
python-dotenv~=1.0.1
streamlit
opencv-python-headless  # For cv2
pytesseract             # OCR library
pillow                  # Image processing
numpy
python-dotenv           # If using environment variables
